.hidden {
    display: none;
}

.wrapper-center {
	margin-block: auto;
}

.nav {
	padding: 0;
}

.nav .container {
	background-color: #3D3D3D;
	border-radius: 0px 0px 40px 40px;
	padding-block: 10px;
}

.nav__orders-button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 3px 0 #FBB400;
	display: block;
	background: #FAFF00;
	border-style: none;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: #000;
	transition-duration: 0.3s;
}

.nav__orders-button img {
	margin-top: 5px;
}

.nav__orders-button:active {
	transform: translateY(3px);
	box-shadow: none;
}

.nav__resource {
	display: flex;
}

.bombs {
	transform: rotate(45deg);
}

.nav__resource__count {
	text-align: right;
}

#start-game-button {
	display: block;
	background: none;
	border-style: none;
	border-radius: none;
	box-shadow: none;
}

button:active {
	transform: none;
	box-shadow: none;
}





.chat-container {
	margin-top: 25px;
	width: 970px;
	height: 822px;
	background-image: url(../img/background.png);
}

.chat-header {
	display: flex;
	padding-top: 7px;
	margin-left: 50px;
}

.chat-header img {
	margin-right: 15px;
	margin-bottom: 10px;
}

.chat-header-players {
	margin-right: 270px;
}


.chat-main {
	display: flex;
}

.chat-messages {
	width:530px;
	height: 620px;
}

.chat-messages-input {
	margin-top: 40px;
	width: 500px;
	height: 50px;
	background-color: #3D3D3D;
	border: none;
	border-bottom: 1px solid #D9D9D9;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #D9D9D9;
	transition-duration: 0,5;
}

.message-box{
	margin-top: 25px;
	display: flex;
}

#send-button {
	display: block;
	background: none;
	border-style: none;
	border-radius: none;
	box-shadow: none;
	margin-top: 40px;
}

#recipient-dropdown {
	margin-top: 20px;
	width: 250px;
	height: auto;
	border: none;
	appearance: none;
	outline: none;
	background-color: #3D3D3D;
}

#recipient-dropdown option {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: #D9D9D9;
	border-radius: 6px;
}



#playersTable {
	border-collapse: collapse;
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
}

#playersTable th, td {
	padding: 12px;
	text-align: center;
	border-color: #fff;
	border: solid;
}

.flexible {
	display: flex;
	justify-content: center;
}

#options-container {
	margin-top: 30px;
	margin-left: 50px;
}

#options-container input[type="checkbox"] {
	display: flex;
	justify-content: center;
	align-items: center;
	appearance: none;
	-webkit-appearance: none;
	margin-inline: auto;
	width: 40px;
	height: 40px;
	border: 5px solid #3D3D3D;
	border-radius: 5px;
	background-color: #0C0C0C;
	cursor: pointer;
}

#options-container label {
	display: inline-block;
	margin-right:50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

#options-container input[type="checkbox"]:after {
	content: "\f00c";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 20px;
	color: #faff00;
}

#options-container input[type="checkbox"]:hover {
	background-color: #1C1C1C;
}



.info {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.8s, ease-out 0s;
	-webkit-transition: 0.8s, ease-out 0s;
}

.info:target {
	opacity: 1;
	visibility: visible;
}

.info-body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-body .container {
	background-color: #1C1C1C;
	width: 570px;
	border-radius: 40px;
	padding: 0px;
}

.info-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0C0C0C;
	border-radius: 40px 40px 0px 0px;
	width: 670px;
	height: 80px;
}

.info-header h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
	margin-top: 15px;
	margin-right: 60px;
}

.info-header img {
	width: 40px;
	height: 40px;
	cursor: pointer;
}