.wrapper-center {
	margin-block: auto;
}

.nav {
	padding: 0;
}

.nav .container {
	background-color: #3D3D3D;
	border-radius: 0px 0px 40px 40px;
	padding-block: 10px;
}

.nav__orders-button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 3px 0 #FBB400;
}

.nav__orders-button:active {
	transform: translateY(3px);
}

.nav__resource {
	display: flex;
}

.bombs {
	transform: rotate(45deg);
}

.nav__resource__count {
	text-align: right;
}

#start-game-button {
	display: block;
	background: none;
	border-style: none;
	border-radius: none;
	box-shadow: none;
}

button:active {
	transform: none;
	box-shadow: none;
}





.chat-container {
	margin-top: 25px;
	width: 970px;
	height: 822px;
	background-image: url(../img/background.png);
}

.chat-header {
	display: flex;
	padding-top: 7px;
	margin-left: 50px;
}

.chat-header img {
	margin-right: 15px;
	margin-bottom: 10px;
}

.chat-header-players {
	margin-right: 270px;
}


.chat-main {
	display: flex;
}

.chat-messages {
	width:530px;
	height: 620px;
}

.chat-messages-input {
	margin-top: 40px;
	width: 500px;
	height: 50px;
	background-color: #3D3D3D;
	border: none;
	border-bottom: 1px solid #D9D9D9;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #D9D9D9;
	transition-duration: 0,5;
}

.message-box{
	margin-top: 25px;
	display: flex;
}

#send-button {
	display: block;
	background: none;
	border-style: none;
	border-radius: none;
	box-shadow: none;
	margin-top: 40px;
}

#recipient-dropdown {
	margin-top: 20px;
	width: 250px;
	height: auto;
	border: none;
	appearance: none;
	outline: none;
	background-color: #3D3D3D;
}

#recipient-dropdown option {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: #D9D9D9;
	border-radius: 6px;
}



#playersTable {
	display: flex;
	justify-content: center;
	border-collapse: collapse;
	margin-top: 25px;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
}

#playersTable th, td {
	padding: 12px;
	text-align: center;
	border-color: #fff;
	border: solid;
}